[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "calpassapi"]
	path = calpassapi
	url = https://github.com/vinhdizzo/calpassapi
	shallow = true
	registered = true
[submodule "IRexamples"]
	path = IRexamples
	url = https://github.com/vinhdizzo/irexamples
	shallow = true
	registered = true
