[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DisImpact"]
	path = DisImpact
	url = https://github.com/vinhdizzo/disimpact
[submodule "IRexamples"]
	path = IRexamples
	url = https://github.com/vinhdizzo/irexamples
[submodule "calpassapi"]
	path = calpassapi
	url = https://github.com/vinhdizzo/calpassapi
